

<a href="@Url.Action("PuntiDecurtatiPerTrasgressore", "Statistiche")" class="btn btn-primary">Visualizza statistiche per punti decurtati da ogni trasgressore</a>

<a href="@Url.Action("VerbaliPerTrasgressore", "Statistiche")" class="btn btn-primary">Verbali per ogni trasgressore</a>

<a href="@Url.Action("ViolazioniMaggioriDiQuattrocentoEuro", "Statistiche")" class="btn btn-primary">Violazioni che superano i 400 euro</a>

<a href="@Url.Action("ViolazioniPiuDiDieciPunti", "Statistiche")" class="btn btn-primary">Violazioni totali con decurtazioni punti maggiori di 10</a>