

<a href="@Url.Action("TotalePuntiDecurtatiTrasgressore", "Statistiche")" class="btn btn-primary">Aggiungi Verbale</a>

<a href="@Url.Action("VerbaliPerTrasgressore", "Statistiche")" class="btn btn-primary">Aggiungi Verbale</a>

<a href="@Url.Action("ViolazioniMaggioriQuattrocento", "Statistiche")" class="btn btn-primary">Aggiungi Verbale</a>

<a href="@Url.Action("ViolazioniOltre10punti", "Statistiche")" class="btn btn-primary">Aggiungi Verbale</a>