
<div class=" d-flex flex-column ">
	<a href="@Url.Action("PuntiDecurtatiPerTrasgressore", "Statistiche")" class="btn btn-primary">Visualizza statistiche per punti decurtati da ogni trasgressore</a>
	<hr />
	<a href="@Url.Action("VerbaliPerTrasgressore", "Statistiche")" class="btn btn-info">Verbali per ogni trasgressore</a>
	<hr />
	<a href="@Url.Action("ViolazioniMaggioriDiQuattrocentoEuro", "Statistiche")" class="btn btn-success">Violazioni che superano i 400 euro</a>
	<hr />
	<a href="@Url.Action("ViolazioniPiuDiDieciPunti", "Statistiche")" class="btn btn-warning">Violazioni totali con decurtazioni punti maggiori di 10</a>
</div>
